.Main{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: 1fr 3fr;
 background-color: rgb(39, 43, 51);
 grid-template-areas: 
 'ContLogo ContMenu'
 'ContTitle ContTitle';
}
.Logo{
 grid-area: ContLogo;
 align-content: center;
 justify-content: center;
 background-color: rgb(60, 62, 68);
 padding: 15px;
}
.Menu{
 grid-area: ContMenu;
 display: flex;
 justify-content: right;
 align-items: center;
 background-color: rgb(60, 62, 68);
 padding: 15px
}
.Title{
 grid-area: ContTitle;
 display: flex;
 justify-content: center;
 align-items: center;
}

.ContTitle{
 color: white;
 font-size: 70px;
}
.ContTitle:hover{
 color:  #3b82f6;
 font-size: 75px;
}